---
const currentYear = new Date().getFullYear();
---

<footer class="bg-background-dark border-t border-gray-800 mt-12">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    <div class="text-center">
      <p class="text-gray-500">&copy; {currentYear} Shubham Bhardwaj. All rights reserved.</p>
    </div>
  </div>
</footer>